.client-home-section{
    margin-bottom: 80px;
}

.clients-home-img{
    position: relative;
    margin-top: 15px;
}
.clients-home-img img:nth-child(1) {
    right: 0px;
    top: 0px;
    margin-top: -10px;
}
.clients-home-img img {
    border-radius: 50%;
    width: 335px;
    position: absolute;
}

.animated {

    animation: bounce 3s infinite;

  } 

  @keyframes bounce { 

    50%{
        transform: translateY(25px);
    }
    100%{
        transform: translateY(0px);
    }

  } 
  
  .bounce { 
    -webkit-animation-name: bounce;
    animation-name: bounce;
  }

.clients-home-img img:nth-child(2) {
    width: 100px;
    left: 0px;
    top: 0px;
    margin-top: -60px;
    margin-left: 95px;
}

.clients-home-img img:nth-child(3) {
    left: 0px;
    width: 160px;
    top: 0px;
    margin-top: 48px;
}

.clients-home-img img:nth-child(4) {
    width: 135px;
    top: 0px;
    margin-top: 240px;
    left: 0px;
    margin-left: 60px;
}
.client-slide-container{
    margin-left: 30px;
}
.client-slide-container .quote-icon{
    font-size: 50px;
    color: rgba(189, 189, 189, 0.596);
    text-align: left !important;
}
.client-slide-container p{
    font-size: 20px;
    text-align: left;
    font-weight: 700;
    color: rgb(87, 87, 87);
}
.client-slide-container img{
    width: 15%;
    border-radius: 50%;
    margin-top: 30px;
    border: 3px solid #f7c35f  ;
}
.client-details-home h4{
    margin-top: 50px;
    margin-left: 20px;
    font-family: serif;
    font-size: 24px;
    font-weight: 550;
    color: rgb(54, 54, 54);
}




/* --------------- Mobile responsive --------------- */

/* Small Mobile  */
@media (max-width: 320px) {
    .client-home-section{
        margin-bottom: 80px;
    }
    .client-home-title-container{
        margin-top: -150px !important;
    }
    .clients-home-img{
        position: relative;
        margin-top: 15px;

        /* padding-right: 160px; */
        padding-left: 110px;
        /* margin-right: -140px; */
    }
    .clients-home-img img:nth-child(1) {
        right: 10px;
        top: 0px;
        margin-top: 10px;
    }
    .clients-home-img img {
        border-radius: 50%;
        width: 140px;
        position: absolute;
    }
    
    .animated {
    
        animation: bounce 3s infinite;
    
      } 
    
      @keyframes bounce { 
    
        50%{
            transform: translateY(25px);
        }
        100%{
            transform: translateY(0px);
        }
    
      } 
      
      .bounce { 
        -webkit-animation-name: bounce;
        animation-name: bounce;
      }
    
    .clients-home-img img:nth-child(2) {
        width: 70px;
        left: 0px;
        top: 0px;
        margin-top: -35px;
        margin-left: 47px;
    }
    
    .clients-home-img img:nth-child(3) {
        left: 5px;
        width: 90px;
        top: 0px;
        margin-top: 48px;
    }
    
    .clients-home-img img:nth-child(4) {
        width: 80px;
        top: 0px;
        margin-top: 175px;
        left: 0px;
        margin-left: 60px;
    }
    .client-slide-container{
        margin-left: 8px;
        margin-right: 35px !important;

        margin-top: 210px;
    }
    .client-slide-container .quote-icon{
        font-size: 50px;
        color: rgba(189, 189, 189, 0.596);
        text-align: left !important;
    }
    .client-slide-container p{
        font-size: 20px;
        text-align: left;
        font-weight: 700;
        color: rgb(87, 87, 87);
    }
    .client-slide-container img{
        width: 17%;
        height: 100%;
        border-radius: 50%;
        margin-top: 42px;
        border: 3px solid #f7c35f  ;
    }
    .client-details-home h4{
        margin-top: 50px;
        margin-left: 20px;
        font-family: serif;
        font-size: 24px;
        font-weight: 550;
        color: rgb(54, 54, 54);
    }
    
    
}
/* Normal Mobile  */
@media (min-width: 321px) {
    .client-home-section{
        margin-bottom: 80px;
    }
    .client-home-title-container{
        margin-top: -170px !important;
    }
    
    .clients-home-img{
        position: relative;
        margin-top: 15px;

        /* padding-right: 160px; */
        padding-left: 110px;
        /* margin-right: -140px; */
    }
    .clients-home-img img:nth-child(1) {
        right: 5px;
        top: 0px;
        margin-top: 50px;
    }
    .clients-home-img img {
        border-radius: 50%;
        width: 200px;
        position: absolute;
    }
    
    .animated {
    
        animation: bounce 3s infinite;
    
      } 
    
      @keyframes bounce { 
    
        50%{
            transform: translateY(25px);
        }
        100%{
            transform: translateY(0px);
        }
    
      } 
      
      .bounce { 
        -webkit-animation-name: bounce;
        animation-name: bounce;
      }
    
    .clients-home-img img:nth-child(2) {
        width: 90px;
        left: 0px;
        top: 0px;
        margin-top: -5px;
        margin-left: 47px;
    }
    
    .clients-home-img img:nth-child(3) {
        left: 5px;
        width: 115px;
        top: 0px;
        margin-top: 98px;
    }
    
    .clients-home-img img:nth-child(4) {
        width: 100px;
        top: 0px;
        margin-top: 250px;
        left: 0px;
        margin-left: 60px;
    }
    .client-slide-container{
        margin-left: 0px;
        margin-right: 120px !important;

        margin-top: 320px;
    }
    .client-slide-container .quote-icon{
        font-size: 50px;
        color: rgba(189, 189, 189, 0.596);
        text-align: left !important;
    }
    .client-slide-container p{
        font-size: 20px;
        text-align: left;
        font-weight: 700;
        color: rgb(87, 87, 87);
    }
    .client-slide-container img{
        width: 17%;
        height: 100%;
        border-radius: 50%;
        margin-top: 42px;
        border: 3px solid #f7c35f  ;
    }
    .client-details-home h4{
        margin-top: 50px;
        margin-left: 20px;
        font-family: serif;
        font-size: 24px;
        font-weight: 550;
        color: rgb(54, 54, 54);
    }
}



@media (min-width: 375px) {
    .client-home-title-container{
        margin-top: 20px !important;
    }
    .client-slide-container{
        margin-left: 0px;
        margin-right: 125px !important;

        margin-top: 320px;
    }


}




@media (min-width: 380px) {
    .client-home-title-container{
        margin-top: -150px !important;
    }
    .clients-home-img img:nth-child(1) {
        right: 10px;
        top: 0px;
        margin-top: 50px;
    }
    .clients-home-img img {
        border-radius: 50%;
        width: 220px;
        position: absolute;
    }
    .client-slide-container{
        margin-left: 0px;
        margin-right: 175px !important;

        margin-top: 320px;
    }
}


/* --------------- Tablet responsive --------------- */

/* Tab  */
@media (min-width: 481px) {
    .client-home-title-container{
        margin-top: -50px !important;
    }
    .clients-home-img img:nth-child(1) {
        right: 15px;
        top: 0px;
        margin-top: 50px;
    }
    .clients-home-img img {
        border-radius: 50%;
        width: 270px;
        position: absolute;
    }
    .clients-home-img img:nth-child(2) {
        width: 100px;
        left: 0px;
        top: 0px;
        margin-top: -5px;
        margin-left: 107px;
    }
    
    .clients-home-img img:nth-child(3) {
        left: 30px;
        width: 140px;
        top: 0px;
        margin-top: 98px;
    }
    
    .clients-home-img img:nth-child(4) {
        width: 120px;
        top: 0px;
        margin-top: 270px;
        left: 0px;
        margin-left: 100px;
    }
    .client-slide-container{
        margin-left: 0px;
        margin-right: 300px !important;

        margin-top: 360px;
    }
    .client-slide-container img{
        width: 13%;
        height: 100%;
        border-radius: 50%;
        margin-top: 30px;
        border: 3px solid #f7c35f  ;
    }
}

/* Netbooks / iPad  */
@media (min-width: 768px) {
    .client-home-title-container{
        margin-top: 0px !important;
    }
    .clients-home-img img:nth-child(1) {
        right: 5px;
        top: 0px;
        margin-top: 50px;
    }
    .clients-home-img img {
        border-radius: 50%;
        width: 235px;
        position: absolute;
    }
    .clients-home-img img:nth-child(2) {
        width: 95px;
        left: 0px;
        top: 0px;
        margin-top: -5px;
        margin-left: 87px;
    }
    
    .clients-home-img img:nth-child(3) {
        left: 0px;
        width: 130px;
        top: 0px;
        margin-top: 98px;
    }
    
    .clients-home-img img:nth-child(4) {
        width: 120px;
        top: 0px;
        margin-top: 270px;
        left: 0px;
        margin-left: 75px;
    }
    .client-slide-container{
        margin-left: 0px;
        margin-right: -150px !important;

        margin-top: 0px;
    }
    .client-slide-container img{
        width: 16%;
        height: 100%;
        border-radius: 50%;
        margin-top: 40px;
        border: 3px solid #f7c35f  ;
    }
}


@media (min-width: 912px) {
    .client-home-title-container{
        margin-top: 0px !important;
    }
    .clients-home-img img:nth-child(1) {
        right: 5px;
        top: 0px;
        margin-top: 50px;
    }
    .clients-home-img img {
        border-radius: 50%;
        width: 235px;
        position: absolute;
    }
    .clients-home-img img:nth-child(2) {
        width: 95px;
        left: 0px;
        top: 0px;
        margin-top: -5px;
        margin-left: 77px;
    }
    
    .clients-home-img img:nth-child(3) {
        left: 0px;
        width: 130px;
        top: 0px;
        margin-top: 98px;
    }
    
    .clients-home-img img:nth-child(4) {
        width: 125px;
        top: 0px;
        margin-top: 270px;
        left: 0px;
        margin-left: 55px;
    }
    .client-slide-container{
        margin-left: 0px;
        margin-right: -150px !important;

        margin-top: 0px;
    }
    .client-slide-container img{
        width: 16%;
        height: 100%;
        border-radius: 50%;
        margin-top: 40px;
        border: 3px solid #f7c35f  ;
    }
}


/* --------------- Desktop responsive --------------- */

@media (min-width: 1024px) {
    .client-home-section{
        margin-bottom: 80px;
    }
    
    .clients-home-img{
        position: relative;
        margin-top: 15px;
    }
    .clients-home-img img:nth-child(1) {
        right: 0px;
        top: 0px;
        margin-top: -10px;
    }
    .clients-home-img img {
        border-radius: 50%;
        width: 335px;
        position: absolute;
    }
    
    .animated {
    
        animation: bounce 3s infinite;
    
      } 
    
      @keyframes bounce { 
    
        50%{
            transform: translateY(25px);
        }
        100%{
            transform: translateY(0px);
        }
    
      } 
      
      .bounce { 
        -webkit-animation-name: bounce;
        animation-name: bounce;
      }
    
    .clients-home-img img:nth-child(2) {
        width: 100px;
        left: 0px;
        top: 0px;
        margin-top: -60px;
        margin-left: 95px;
    }
    
    .clients-home-img img:nth-child(3) {
        left: 0px;
        width: 160px;
        top: 0px;
        margin-top: 48px;
    }
    
    .clients-home-img img:nth-child(4) {
        width: 135px;
        top: 0px;
        margin-top: 240px;
        left: 0px;
        margin-left: 60px;
    }
    .client-slide-container{
        margin-left: 0px;
        margin-right: -250px !important;
    }
    .client-slide-container .quote-icon{
        font-size: 50px;
        color: rgba(189, 189, 189, 0.596);
        text-align: left !important;
    }
    .client-slide-container p{
        font-size: 20px;
        text-align: left;
        font-weight: 700;
        color: rgb(87, 87, 87);
    }
    .client-slide-container img{
        width: 15%;
        border-radius: 50%;
        margin-top: 30px;
        border: 3px solid #f7c35f  ;
    }
    .client-details-home h4{
        margin-top: 50px;
        margin-left: 20px;
        font-family: serif;
        font-size: 24px;
        font-weight: 550;
        color: rgb(54, 54, 54);
    }
    
}

@media (min-width: 1200px) {
    
    .clients-home-img img:nth-child(1) {
        right: 30px;
        top: 0px;
        margin-top: -10px;
    }
    .clients-home-img img {
        border-radius: 50%;
        width: 335px;
        position: absolute;
    }
    
}


